/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: #272727;
  font-weight: 800;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 30px;
}
.container {
  max-width: 1320px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}
.primary-btn {
  display: inline-flex;
  padding: 20px 43px;
  border-radius: 8px;
  color: #ffffff;
  background: #e55473;
  border: 0;
  font-size: 18px;
  font-weight: 500;
}
/* Hero section start */
.hero-section {
  background: rgba(229, 84, 115, 0.1);
}
.hero-content{
    max-width: 600px;
}
.hero-description{
    margin: 20px 0;
}
.hero-thumb{
    margin-top: 50px;
}
.hero-thumb img {
  width: 550px;
}

/* Hero section end */
