/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  color: #272727;
  font-weight: 800;
}
h1 {
  font-size: 68px;
}
h2 {
  font-size: 46px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}
.primary-btn {
  display: inline-flex;
  padding: 20px 43px;
  border-radius: 8px;
  color: #ffffff;
  background: #e55473;
  border: 0;
  font-size: 18px;
  font-weight: 500;
}
.section-header {
  margin-bottom: 50px;
  text-align: center;
}
.section-title {
  margin-bottom: 20px;
}
.cmn-description {
  max-width: 580px;
  margin: auto;
}
/* Hero section start */
.hero-section {
  background: rgba(229, 84, 115, 0.1);
}
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.hero-content {
  max-width: 600px;
}
.hero-description {
  margin: 20px 0;
}
.hero-thumb {
  margin-top: 50px;
}
.hero-thumb img {
  width: 550px;
}

/* Hero section end */

/* Featured Flowers section start */
.featured-flowers-section {
  padding: 100px 0;
}
.featured-container {
  display: flex;
  gap: 20px;
}
.featured-item {
  text-align: center;
  width: 33.3333%;
}
.featured-item .img-box {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  padding: 100px 50px 0 50px;
}
.featured-item .img-box img {
  width: 310px;
  max-height: 400px;
}
.featured-item .img-box2 {
  background: rgba(5, 151, 160, 0.15);
  padding-bottom: 90qpx;
}
.featured-item .img-box3 {
  background: rgba(71, 125, 17, 0.15);
}
/* Featured Flowers section end */
